<mat-drawer-container>
  <mat-drawer class="!top-20 w-48 bg-slate-50" #drawer mode="side" [opened]="opened">
    <app-admin-layout-nav></app-admin-layout-nav>
  </mat-drawer>
  <mat-drawer-content>
    <div class="grid min-h-screen grid-rows-[auto_1fr_auto]">
      <app-admin-layout-header [drawer]="drawer"></app-admin-layout-header>
      <main class="flex justify-center my-10">
        <div class="w-full">
          <router-outlet></router-outlet>
        </div>
      </main>
      <app-admin-layout-footer></app-admin-layout-footer>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
