<mat-sidenav-container>
  <mat-sidenav class="w-full" #sidenav mode="push">
    <app-public-layout-header [sidenav]="sidenav"></app-public-layout-header>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="grid min-h-screen grid-rows-[auto_1fr_auto]">
      <app-public-layout-header [sidenav]="sidenav"></app-public-layout-header>
      <main class="flex justify-center my-10">
        <div class="w-full md:w-1/2">
          <router-outlet></router-outlet>
        </div>
      </main>
      <app-public-layout-footer></app-public-layout-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
