<header class="mat-elevation-z6">
  <div class="flex justify-between items-center w-full">
    <h1 class="w-20">
      <a routerLink="/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#000"
          class="w-10 h-10"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z"
          />
        </svg>
      </a>
    </h1>
    <div class="flex w-4/6">
      <ul class="flex gap-6">
        <li
          class="text-primary after:content-[''] after:block after:h-0.5 after:bg-white after:w-full after:transition-all after:duration-300 after:ease-in-out origin-center after:scale-0 hover:after:scale-100"
          *ngFor="let item of navigation"
        >
          <a
            class="text-lg font-bold uppercase"
            [routerLink]="[item.link]"
            routerLinkActive="text-accent"
          >
            {{ item.label }}
          </a>
        </li>
      </ul>
    </div>
    <h1 class="w-20 flex justify-end">
      <a routerLink="/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-8 h-8"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 11.25l1.5 1.5.75-.75V8.758l2.276-.61a3 3 0 10-3.675-3.675l-.61 2.277H12l-.75.75 1.5 1.5M15 11.25l-8.47 8.47c-.34.34-.8.53-1.28.53s-.94.19-1.28.53l-.97.97-.75-.75.97-.97c.34-.34.53-.8.53-1.28s.19-.94.53-1.28L12.75 9M15 11.25L12.75 9"
          />
        </svg>
      </a>
    </h1>
  </div>
</header>
